<nav>
    <a href="{{ path('project_index') }}" id="logo">
        <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker">
    </a>
    <ul id="main-menu">
        {% set currentRoute = app.request.attributes.get('_route') %}
        <li class="{{ currentRoute starts with 'project_' or currentRoute starts with 'task_' ? 'active' : '' }}">
            <a href="{{ path('project_index') }}">
                <i class="fa-solid fa-list-check"></i> Projets
            </a>
        </li>
        <li class="{{ currentRoute starts with 'user_' ? 'active' : '' }}">
            <a href="{{ path('user_index') }}">
                <i class="fa-regular fa-user"></i> Équipe
            </a>
        </li>
    </ul>
</nav>
