{% extends 'base.html.twig' %}

{% block title %}Liste des employés - TaskLinker{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block header_title %}
    <h1>Équipe</h1>
{% endblock %}
{% block body %}
            <div id="content">
                <table id="team-container">
                    <thead>
                        <tr>
                            <th>Prénom, Nom</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <div class="employee-infos">
                                        <div class="employee-avatar">
                                            {{ (user.firstName|slice(0, 1) ~ user.lastName|slice(0, 1))|upper }}
                                        </div>
                                        <div class="employee-coords">
                                            <strong>{{ user.firstName }} {{ user.lastName }}</strong>
                                            <span>{{ user.email }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ user.status.value }}</td>
                                <td>
                                    <a class="button button-edit-team" href="{{ path('user_edit', {id: user.id}) }}">
                                        Éditer
                                    </a>
                                    <a class="delete-team" href="#">
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Aucun employé pour le moment.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

{% endblock %}
